# Zugangsdaten — nie einchecken
src/ssh_private_key.pem
src/wlan_keys.h

# PlatformIO Build-Artefakte
.pio/
.pioenvs/
.piolibdeps/

# ESP-IDF
sdkconfig
build/
managed_components/
dependencies.lock
sdkconfig.esp32cam
src/CMakeLists.txt
CMakeLists.txt
